In [2]:
# import libraries
import pandas as pd
import numpy as np

In [5]:
# 1. Load a dataset, display 5 rows then save to Excel format
df = pd.read_csv('Advertising.csv')
df.to_excel('Advertising.xlsx', index=False)
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
# 2. load back the excel file, calculate mean of sales
df_excel = pd.read_excel('Advertising.xlsx')
df_excel['sales'].mean()

np.float64(14.0225)

In [12]:
# convert sales column to numpy array
sales_arr = df_excel['sales'].to_numpy()

# compute standard deviation with numpy
sales_std = np.std(sales_arr)

np.float64(5.204396578855228)

In [17]:
# 3. Load a JSON file
students_data = pd.read_json('students.json')
students_data

      name  age                       grades
0    Alice   20  {'math': 85, 'english': 90}
1      Bob   22  {'math': 78, 'english': 88}
2  Charlie   23  {'math': 92, 'english': 95}

In [18]:
# Flatten the nested 'grades' column using pd.json_normalize
students_data = pd.json_normalize(students_data.to_dict(orient='records'))
students_data

      name  age  grades.math  grades.english
0    Alice   20           85              90
1      Bob   22           78              88
2  Charlie   23           92              95

In [19]:
# compute mean of math grades
students_data['grades.math'].mean()

np.float64(85.0)