In [1]:
import pandas as pd

In [14]:
# 1. Series Basics
# Create a pandas Series from a Python list of [10, 20, 30, 40]
# with custom indices ['a', 'b', 'c', 'd']
df = pd.Series([10,20,30,40], index=['a','b','c','d'])

# access the element with index 'c'
df['c']

# change the value at 'd' to 50
df['d'] = 50

In [16]:
# 2. DataFrame creation
# create a dataframe with columns ['Name', 'Age', 'Score'] using data
# set the column names properly
# print only the name column
df = pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie'],
                   'Age':[20, 22, 23],
                   'Score':[85, 90, 95]})
df['Name']

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [24]:
# 3. Indexing and Selection
# From the dataframe above, select:
#  - the row from 'Bob' using .loc
#  - the row for 'Charlie' using .iloc
df.loc[1]
df.iloc[2]

Name     Charlie
Age           23
Score         95
Name: 2, dtype: object

In [31]:
# 4. Boolean Indexing
# from the same dataframe, select all rows where Score > 85
df[df['Score'] > 85]

      Name  Age  Score
1      Bob   22     90
2  Charlie   23     95

In [37]:
# 5. Column Operations
# add a new column called Passed that is True if Score >= 90 
# and False otherwise
df['Passed'] = df['Score'] >= 90
df

      Name  Age  Score  Passed
0    Alice   20     85   False
1      Bob   22     90    True
2  Charlie   23     95    True

In [41]:
# 6. Basic Aggregation
# compute the mean of the Score column
df['Score'].mean()

# compute the max value of age column
df['Age'].max()

np.int64(23)

In [43]:
# 7. Sort the DataFrame by score in descending order
df.sort_values('Score', ascending=False)

      Name  Age  Score  Passed
2  Charlie   23     95    True
1      Bob   22     90    True
0    Alice   20     85   False